/* Header Component */

.cuadrado{
    width: 10vh;
    height: 10vh;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #fff;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid  #fff;
    background-color: var(--color-mainBlue);

}

header .mainHeader {
    width: 20%;
    height: 10vh;
    color: #fff;
    text-align: center;
    margin-left: 5vw;
    text-decoration: none;
}

header .mainHeader h1 {
    margin-top: 2vh;
    font-size: 1.3em;
    font-weight: 900 !important;
    color: #fff !important
}

header .mainHeader h2 {
    font-size: 1em;
    color: #fff !important;
}

header .navigation {
    height: 10vh;
    width: 80%;
    display: flex;

}

header .navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

header .navigation ul {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0
}

header .navigation ul li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    margin-right: 5vw;
    font-size: 1.3em;
}

.verticalFooter{
    background-color: var(--color-mainBlue);
    height: 90vh;
    position: fixed;
    width: 10vh;
    top: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
    border-right: 1px solid #fff;

}
.verticalFooter ul li{
    list-style: none;
    margin: 2vw;
}
.verticalFooter  a{
    color: #fff;
    text-decoration: none;
}

.verticalFooter svg{
    font-size: 1.2em;
}



/* -------------------INDEX------------------ */

.preloaderAnimation{
    background-color: var(--color-mainBlue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}

.scrollIcon{
    width: 50px;
    position: fixed;
    left: 2%;
    top: 87vh;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    opacity: 0;
    z-index: 10;
}


.numberSlider {
    position: fixed;
    top: 96%;
    left: 95%;
    color:  #fff;
    font-size: 4em;
    transform: translate(0%, -50%) ;
    -webkit-transform: translate(0%, -50%);
    z-index: 1;
}


.itemSlider {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}


.itemSlider .one {
    position: absolute;
    width: 60%;
    padding: 0 2vw 0 2vw;
    top: 60%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    opacity: 0;
}

#leftSlider{
    left: 5%;
}

#rightSlider{
    left: 50%;
}
.itemSlider .one h1 {
    font-weight: 900;
    font-size: 3em;
    margin-left: 3rem;
}
.itemSlider .one h2 {
    font-weight: 900;
    font-size: 2em;
    margin-left: 3rem;
}
.itemSlider .one p {
    font-size: 1.5em;
    margin-left: 3rem;
    max-width: 40vw;
}

.itemSlider a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    margin-left: 3rem;
    border-bottom: 2px solid #fff;
}

.imgSlider1{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    opacity: 0;
    overflow: hidden;
}

.imgSlider1 img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    transform-origin: right;
}
.imgSlider1 >div {
    position: absolute;
    height: 50vh;
    width: 100%;
    z-index: 2;
    left: 0;
    background-color: #fff;
}

.backSlider1{
    width: 40vw;
    height: 70vh;
    background-color:var(--color-cyan);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.imgSlider2{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.imgSlider2 img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform-origin: right;
}

.backSlider2{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color-mainBlue);
    z-index: 10;
}

.imgSlider3{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 40vw;
    height: 50vh;
    overflow: hidden;
}

.imgSlider3 img{

    width: 100%;
    height: 50vh;
    object-fit: cover;
    transform-origin: right;
    opacity: 0;
}

.backSlider3{
    position: absolute;
    width: 70vw;
    height: 70vh;
    top: 50vh;
    left: 20vw;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    background-color: #fff;
    z-index: -1;
} 

.textSlider3 h1 , .textSlider3 p , .textSlider3 a{
    color: var(--color-mainBlue) !important;
}

.textSlider3 a{
    border-bottom: 3px solid var(--color-mainBlue) !important;
}

.cortina1{
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
.cortina2{
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #fff;
    z-index: 10;
}

.textSlider3 a{
    border-bottom: 2px solid #fff;
}

.imgSlider4{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 70vw;
    height: 70vh;
    overflow: hidden;
}

.imgSlider4 img{

    width: 100%;
    height: 70vh;
    object-fit: cover;
    transform-origin: right;
    /* opacity: 0; */
}

.textSlider4{
    background-color: var(--color-cyan);
    z-index: 2;
    width: 40vw !important;
    height: 50vh;
    color: #fff !important;
    padding-top: 3vh !important;
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.53);
    -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.53);
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.53);
    position: relative;
}

.textSlider4 h1{
    position: absolute;
    left: 5%;
    top: 20%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.textSlider4 p{
    position: absolute;
    left: 5%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.textSlider4 a{
    position: absolute;
    left: 5%;
    top: 85%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}
.textSlider4 h1 , .textSlider4 p , .textSlider4 a{
    color: var(--color-mainBlue) !important;
}

.textSlider4 a{
    border-bottom: 2px solid var(--color-mainBlue);
}

.backSlider4{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
} 


/* ---------------------ABOUT--------------- */


.mainContainerAbout{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstAbout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}

.firstBack{
    width: 40vw;
    height: 70vh;
    position: absolute;
    left: 65%;
    top: 55%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 51px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -28px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -28px rgba(0,0,0,0.75);
}
.firstBack img{
    width: 40vw;
    height: 70vh;
    object-fit: cover;
}

.back2About{
    width: 20vw;
    height: 50vh;
    position: absolute;
    left: 85%;
    top: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color:var(--color-cyan);
    z-index: -1;
    
}


/* .back3About{
    width: 20vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color:var(--color-cyan);
    z-index: -1;
    -webkit-box-shadow: 10px 10px 51px -28px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -28px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -28px rgba(0,0,0,0.75);
    
} */
.firstAbout h1{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    font-size: 5em;
    text-align: center;
    z-index: 2;
    
}
.firstAbout p{
    color: #fff;
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 30vw;
    font-size: 1.5em;
}


.secondAbout , .thirdAbout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.secondAbout img{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 30vw;
    height: 80vh;
    object-fit: cover;

}

.secondAbout p{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    padding: 5vh;
    font-size: 1.5em;
}

.secondAbout a{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 75%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 200px;
    height: 50px;
    background-color: #fff;
    color: var(--color-mainBlue);
    border: 2px solid var(--color-mainBlue);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondAbout #link1{
    left: 60%;
}
.secondAbout #link2{
    left: 80%;
}

.thirdAbout h1{
    position: absolute;
    left: 10%;
    top: 20vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}
.thirdAbout .thridDesc{
    position: absolute;
    left: 10%;
    top: 40vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 30vw;
}
.thirdAbout img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 40vw;
}


/* ----------------------PREGUNTAS FRECUENTES--------- */

.mainContainerQuestion{
    width: 100vw;
    overflow-x: hidden;
    color: #fff;
}

.firstQuestion{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.firstQuestion h1{
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    font-size: 3em;
}
.firstQuestion p{
    position: absolute;
    left: 15%;
    top: 60%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
    width: 40vw;
}

.firstQuestion .animationQuestion{
    position: absolute;
    left: 70%;
    top: 55%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
}

.secondQuestion{
    width: 100vw;
}

.secondQuestion .questionContainer{
    width: 100vw;
    padding-left: 10vh;
    height: 50vh;
    display: flex;
}

.questionContainer> div{
    width: 50%;
    align-items: center;
    height: auto;
    position: relative;
    border-top: 1px solid #fff;
}
.questionContainer>div > *{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
}
.questionContainer>div h1{
    text-align: center;
}



/*------------------- SERVICIOS --------------- */

.mainContainerService{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstServices, .firstServicesPages{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.firstServices >h1{
    position: absolute;
    font-size: 7em;
    left: 14%;
    top: 55%;
    color: var(--color-mainBlue) !important;
    transform: translate(-50%, -50%) rotate(-90deg);
    -webkit-transform: translate(-50%, -50%) rotate(-90deg); 
    z-index: 5;
    opacity: 0;
}

.serviceTarget{
    background-color: #fff;
    width: 28vh;
    height: 35vh;
    position: absolute;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%); 
    opacity: 0;
    overflow: hidden;
}

.backServices{
    position: absolute;
    width: 0vw;
    height: 60vh;
    left:  10%;
    top: 55%;
    background-color: #fff;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
    -webkit-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
    -moz-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
    box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
    overflow: hidden;
}

#service1{
    left: 25%;
    top: 50%;
}

#service2{
    left: 41%;
    top: 50%;
}

#service3{
    left: 57%;
    top: 50%;
}

#service4{
    left: 73%;
    top: 50%;
}


#service5{
    left: 89%;
    top:50%;
}

#service6{
    left: 25%;
    top: 90%;
}

#service7{
    left: 41%;
    top: 90%;
}

#service8{
    left: 57%;
    top: 90%;
}

#service9{
    left: 73%;
    top: 90%;
}

#service10{
    left: 89%;
    top: 90%;
}

.serviceTarget img{
    width: 28vh;
    height: 35vh;
    object-fit: cover;
}

.serviceTarget h1{
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
    font-size: 1.1em !important;
    width: 100%;
    text-align: center;
    /* color: var(--color-mainBlue) !important; */
    font-weight: 900;
    
}

.backServiceTarget{
    position: absolute;
    width: 28vh;
    height:10vh;
    left: 0;
    top: 75%;
    background: rgba(1, 64, 95, 0.7);
}


/* Services pages */

.backServicesPages{
    position: absolute;
    width: 0vw;
    height: 60vh;
    left:  10%;
    top: 55%;
    background-color: #fff;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
    -webkit-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
    -moz-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
    box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
    overflow: hidden;
    display: flex;
}

.backServicesPages img{
    width: 40%;
    height:  60vh;
    object-fit: cover;
    -webkit-box-shadow: 10px 0px 52px -24px rgba(1,64,95,1);
    -moz-box-shadow: 10px 0px 52px -24px rgba(1,64,95,1);
    box-shadow: 10px 0px 52px -24px rgba(1,64,95,1);
    opacity: 0;
}

.textServices{
    width: 60%;
    height: 60vh;
    text-align: center;
    opacity: 0
}
.textServices h1{
    color: var(--color-mainBlue) !important;
    font-size: 5vh;
    text-align: center;
    margin-top: 1em;
}
.textServices p{
    text-align: center;
    padding: 2em;
    font-size: 1.3em;
}

.textServices .buttonCita{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%); 
    width: 40%;
    height: 50px;
    background-color: var(--color-mainBlue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textServices a{
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

.firstServicesPages > a{
    position: absolute;
    left: 120%;
    top: 93%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
    color: #fff;
    font-size: 3em;
    opacity: 0;
}

/* -----------CONTACT-------- */

.mainContainerContact{
    width: 100vw;
    overflow-x: hidden;
    color: #fff;
}

.mainContainerContact .firstContact{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.firstContact h1{
    position: absolute;
    left: 15%;
    top: 20vh;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    font-size: 4em;
}
.firstContact .dataContact{
    position: absolute;
    left: 15%;
    top: 35vh;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
}
.firstContact .dataContact ul li{
    font-size: 1.5em;
    list-style: none;
}

.formContact{
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    
}

.submitButton{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1%;
    top: 110%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    border: 2px solid var(--color-mainBlue);
    text-decoration: none;
    color: var(--color-mainBlue);
    
    
}

.map{
    margin-top: 2vw;
    width: 30vw;
    height: 40vh;
}

/* Citas */

.mainContainerAbout{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstCitas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.calendarDate{
    width: 40vw;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 30px;
    text-align: center;
}

.chooseDay{
    position: absolute;
    left: 15%;
    top: 17%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.horaElegir{
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

.formAppo{
    position: absolute;
    left: 15%;
    top: 50vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 30vw;
    
}
.submitButtonCita{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2%;
    top: 125%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    border: 2px solid var(--color-mainBlue);
    text-decoration: none;
    color: var(--color-mainBlue);

}

/* --------------BIBLIOTECA---------- */

.mainContainerBiblioteca{
    width: 100vw;
    overflow-x: hidden;
    color: #fff;
}


.mainContainerBiblioteca .firstBiblioteca, .mainContainerBiblioteca .secondBiblioteca{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.backBiblioteca{
    position: absolute;
    width: 80vw;
    height: 50vh;
    left: 15%;
    top: 60%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    background-color: #fff;
    color: var(--color-mainBlue);
    -webkit-box-shadow: 10px 9px 22px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 9px 22px 0px rgba(0,0,0,0.5);
    box-shadow: 10px 9px 22px 0px rgba(0,0,0,0.5);
    
}

.firstBiblioteca > h1{
    font-size: 5em ;
    position: absolute;
    left: 20%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    color: var(--color-mainBlue) !important;
    z-index: 2;
}

.firstBiblioteca > p{
    font-size: 1.5em;
    position: absolute;
    left: 15%;
    top: 70%;
    text-align: center;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    color: var(--color-mainBlue) !important;
    z-index: 2;
    width: 30vw;
}

.firstBiblioteca .animationBiblioteca{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.animationBiblioteca img{
    width: 40vw;
    -webkit-box-shadow: 10px 10px 22px 0px rgba(1,64,95,0.5);
    -moz-box-shadow: 10px 10px 22px 0px rgba(1,64,95,0.5);
    box-shadow: 10px 10px 22px 0px rgba(1,64,95,0.5);
}

.secondBiblioteca{
    padding-top: 15vh;
    display: flex;
}
.secondBiblioteca .mainBlog{
    padding-top: 5vh;
    height: 90vh;
    width: 50%;
    padding-left: 13vh;
    margin-right: 10vh;
}
.secondBiblioteca .listBlog{
    width: 40%; 
}
.ant-list-item-meta-title{
    font-weight: 900 !important;
    color: #ffffff !important;
}

.contentList{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff !important;

}
.contentList img{
    width: 10vw;
    margin-left: 10px;
}

.metaMain{
    text-decoration: none;
    
}

.metaMain h1{
    color: var(--color-mainBlue) !important;
}

.ant-card-meta-description, .ant-card-meta-title{
    color: var(--color-mainBlue) !important;
}

.imgCard{
    width: 100%;
    height: 55vh;
}

.ant-pagination-item-active {
    background: #fff ;
    border-color: inherit ;
}
.ant-pagination-item-active a{
    color: var(--color-mainBlue);
}

.ant-pagination-item-link svg{
    color: #fff;
}

.ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) a {
    color : #fff
}

/* -------------TEMPLATE BLOG---------- */

.mainContainerTemplate{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
    position: relative;
    height: 100vh;
}

.mainContainerTemplate .titleTemplate{
    position: absolute;
    left: 50%;
    top: 20vh;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 4em;
}

.mainContainerTemplate .containerTextBlog{
    position: absolute;
    left: 50%;
    top: 50vh;
    min-height: 70vh;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    width: 70%;
    background: #fff;
}
.containerTextBlog p {
    padding-top: 37vh;
    font-size: 14pt;
    padding-right: 5vw;
    padding-left: 5vw;
}

.mainContainerTemplate .mainImgTemplate{
    position: absolute;
    left: 50%;
    top: 30vh;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    z-index: 2;
    -webkit-box-shadow: 0px 10px 67px -11px rgba(1,64,95,0.7);
    -moz-box-shadow: 0px 10px 67px -11px rgba(1,64,95,0.7);
    box-shadow: 0px 10px 67px -11px rgba(1,64,95,0.7);
}