/* Header Component */

.cuadrado{
    width: 10vh;
    height: 10vh;
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 101, 153 ,0.5);
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 101, 153 ,0.5);
    background-color: #fff;

}

header .mainHeader {
    width: 20%;
    height: 10vh;
    color: var(--color-mainBlue);
    text-align: center;
    margin-left: 3vw;
    text-decoration: none;
}

header .mainHeader h1 {
    margin-top: 3vh;
    font-size: 1em;
    font-weight: 900 !important;
}

header .mainHeader h2 {
    font-size: 0.8em;
}

header .navigation {
    height: 10vh;
    width: 80%;
    display: flex;

}

header .navigation a {
    text-decoration: none;
    color: var(--color-mainBlue);
    font-weight: 700;
}

header .navigation ul {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0
}

header .navigation ul li {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    margin-right: 5vw;
}

.verticalFooter{
    background-color: #fff;
    height: 90vh;
    position: fixed;
    width: 10vh;
    top: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 10;
    border-right: 1px solid rgba(0, 101, 153 ,0.5);

}
.verticalFooter ul li{
    list-style: none;
    margin: 2vw;
}
.verticalFooter  a{
    color: var(--color-mainBlue);
    text-decoration: none;
}

.verticalFooter svg{
    font-size: 1.2em;
}



/* -------------------INDEX------------------ */

.preloaderAnimation{
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}
.back {
    position: fixed;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0.1;
    width: 100%;
}

.scrollIcon{
    width: 50px;
    position: fixed;
    left: 2%;
    top: 87vh;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    
    z-index: 10;
}

.animationIndex{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 0;

}

.numberSlider {
    position: fixed;
    top: 96%;
    color:  var(--color-mainBlue);;
    font-size: 20em;
    transform: translate(0%, -50%) rotate(-90deg) ;
    -webkit-transform: translate(0%, -50%) rotate(-90deg);
    width: 30vh;
    z-index: 1;
    opacity: 0;
}


#numLeft{
    left: 10%;
}
#numRight{
    left : 70%
}

.itemSlider {
    color: var(--color-mainBlue);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}



.itemSlider .one {
    position: absolute;
    width: 60%;
    padding: 0 2vw 0 2vw;
    top: 60%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    opacity: 0;
}

#leftSlider{
    left: 5%;
}

#rightSlider{
    left: 50%;
}
.itemSlider .one h1 {
    font-weight: 900;
    font-size: 3em;
    margin-left: 3rem;
}
.itemSlider .one h2 {
    font-weight: 900;
    font-size: 2em;
    margin-left: 3rem;
}
.itemSlider .one p {
    font-size: 1.5em;
    margin-left: 3rem;
}

.itemSlider a {
    text-decoration: none;
    color: var(--color-mainBlue);
    font-size: 1.5em;
    margin-left: 3rem;
}

/* ---------------------ABOUT--------------- */


.mainContainerAbout{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstAbout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}
.firstAbout h1{
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 4em;
    width: 100%;
    text-align: center;
}

.animationAbout{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
   
}

.secondAbout , .thirdAbout{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.secondAbout img{
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 30vw;
    height: 80vh;
    object-fit: cover;

}

.secondAbout p{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    padding: 5vh;
    font-size: 1.5em;
}

.secondAbout a{
    position: absolute;
    width: 50%;
    left: 50%;
    top: 75%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 200px;
    height: 50px;
    background-color: #fff;
    color: var(--color-mainBlue);
    border: 2px solid var(--color-mainBlue);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondAbout #link1{
    left: 60%;
}
.secondAbout #link2{
    left: 80%;
}

.thirdAbout h1{
    position: absolute;
    left: 10%;
    top: 20vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}
.thirdAbout .thridDesc{
    position: absolute;
    left: 10%;
    top: 40vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 30vw;
}
.thirdAbout img{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 40vw;
}


/* ----------------------PREGUNTAS FRECUENTES--------- */

.mainContainerQuestion{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstQuestion{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.firstQuestion h1{
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    font-size: 2em;
}
.firstQuestion p{
    position: absolute;
    left: 15%;
    top: 60%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
    width: 40vw;
}

.secondQuestion{
    width: 100vw;
}

.secondQuestion .questionContainer{
    width: 100vw;
    padding-left: 10vh;
    height: 50vh;
    display: flex;
}

.questionContainer> div{
    width: 50%;
    align-items: center;
    height: auto;
    position: relative;
    border-top: 1px solid rgba(0, 101, 153 ,0.5);
}
.questionContainer>div > *{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
}
.questionContainer>div h1{
    text-align: center;
}



/*------------------- SERVICIOS --------------- */

.mainContainerService{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstServices{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.firstServices h1{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
}
.firstServices p{
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%); 
    width: 30vw;
}
.firstServices .animationService{
    position: absolute;
    left: 70%;
    top: 55%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
}
.secondService{
    width: 100%;
}

.serviceItem{
    width: 100%;
    height: 100vh;
    position: relative;
    
}

#serviceRight .imgService{
    width: 40vw;
    height: 90vh;
    position: absolute;
    left: 10vh;
    top: 10vh;
    background-color: rgba(0, 101, 153 ,0.9);
}
#serviceLeft .imgService{
    width: 45vw;
    height: 90vh;
    position: absolute;
    left: 55vw;
    top: 10vh;
    background-color: rgba(0, 101, 153 ,0.9);
}
.imgService img{
    height: 90vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
.imgService h1{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg) ;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    font-size: 3em;
    width: 100%;
    text-align: center;
    color: #fff !important;
}
#serviceRight p{
    position: absolute;
    width: 40vw;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 14pt;
}

#serviceLeft p{
    position: absolute;
    width: 40vw;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 14pt;
}






/* -----------CONTACT-------- */

.mainContainerContact{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.mainContainerContact .firstContact{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.firstContact h1{
    position: absolute;
    left: 15%;
    top: 20vh;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    font-size: 3em;
}
.firstContact .dataContact{
    position: absolute;
    left: 15%;
    top: 35vh;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
}
.firstContact .dataContact ul li{
    list-style: none;
}

.formContact{
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    
}

.submitButton{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1%;
    top: 110%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    border: 2px solid var(--color-mainBlue);
    text-decoration: none;
    color: var(--color-mainBlue);
    
}

.map{
    margin-top: 2vw;
    width: 30vw;
    height: 40vh;
}

/* Citas */

.mainContainerAbout{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}

.firstCitas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.calendarDate{
    width: 40vw;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    border: 1px solid rgba(0, 101, 153 , 0.5);
    color: rgba(0, 0, 0, 0.7) !important;
    padding: 30px;
    text-align: center;
}

.chooseDay{
    position: absolute;
    left: 15%;
    top: 17%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.horaElegir{
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

.formAppo{
    position: absolute;
    left: 15%;
    top: 50vh;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 30vw;
    
}
.submitButtonCita{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 2%;
    top: 125%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    border: 2px solid var(--color-mainBlue);
    text-decoration: none;
    color: var(--color-mainBlue);

}

/* --------------BIBLIOTECA---------- */

.mainContainerBiblioteca{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
}


.mainContainerBiblioteca .firstBiblioteca, .mainContainerBiblioteca .secondBiblioteca{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.firstBiblioteca > h1{
    font-size: 4em ;
    position: absolute;
    left: 15%;
    top: 45%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.firstBiblioteca > p{
    font-size: 1.5em;
    position: absolute;
    left: 15%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.firstBiblioteca .animationBiblioteca{
    position: absolute;
    left: 65%;
    top: 55%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
}

.animationBiblioteca img{
    width: 30vw;
}

.secondBiblioteca{
    padding-top: 10vh;
    display: flex;
}
.secondBiblioteca .mainBlog{
    padding-top: 5vh;
    height: 90vh;
    width: 50%;
    padding-left: 13vh;
    margin-right: 10vh;
}
.secondBiblioteca .listBlog{

    width: 40%; 
}
.ant-list-item-meta-title{
    font-weight: 900 !important;
    color: var(--color-mainBlue) !important;
}

.contentList{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-mainBlue) !important;

}
.contentList img{
    width: 10vw;
    margin-left: 10px;
}

.metaMain{
    text-decoration: none;
    color: var(--color-mainBlue) !important;
}

.ant-card-meta-description, .ant-card-meta-title{
    color: var(--color-mainBlue) !important;
}

.imgCard{
    width: 100%;
    height: 55vh;
}


/* -------------TEMPLATE BLOG---------- */

.mainContainerTemplate{
    width: 100vw;
    overflow-x: hidden;
    color: var(--color-mainBlue);
    position: relative;
    height: 100vh;
}

.mainContainerTemplate .titleTemplate{
    position: absolute;
    left: 50%;
    top: 17vh;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 3em;
}

.mainContainerTemplate .contentTemplate{
    position: absolute;
    left: 50%;
    top: 67vh;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    font-size: 14pt;
    width: 70%;
}

.mainContainerTemplate .mainImgTemplate{
    position: absolute;
    left: 50%;
    top: 22vh;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    width: 50vw;
    height: 40vh;
    object-fit: cover;
}