::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: "Monserrat";
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Poppyns";
  src: url('./fonts/Poppins-Regular.ttf');
}

:root {
  --color-mainBlue: rgb(1, 64, 95);
  --color-cyan: rgb(88, 192, 201);
  --color-darkBlue : #092854;
}


* {
  font-family: "Poppyns";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Monserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
  background-color: var(--color-mainBlue);
}


h1 , h2{
  color: #fff !important;
  
}
.MuiInput-underline:hover:not(.Mui-disabled):before {
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.87); */
  border-bottom: 2px solid #58C0C9 !important;
}

/* .MuiInput-underline:after {
  border-bottom: 2px solid #58C0C9 !important;
}

.MuiInput-underline:before {
  
    border-bottom: 1px solid #006599 !important;

} */