::-webkit-scrollbar{
  display: none;
}

@font-face {
  font-family: "Monserrat";
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: "Poppyns";
  src: url('./fonts/Poppins-Regular.ttf');
}

:root {
  --color-mainBlue: #006599;
  --color-cyan: #58C0C9;
  --color-darkBlue : #092854;
}


* {
  font-family: "Monserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Monserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}
